# pip install sqlite pandas

In [ ]:
!pip install pandas pysqlite3
#!pip install sqlite3

# 일반적인 방법[sqlite]

In [20]:
import sqlite3
conn = sqlite3.Connection('../0907_chinook.db')
#conn = sqlite3.connet('../0907_chinook.db')
c = conn.cursor()
query = '''
SELECT *
FROM albums
'''
c.execute(query)

In [21]:
c.fetchone() # 전체 가져오기
print(c.fetchone()) # 한줄씩 가져오기

(1, 'For Those About To Rock We Salute You', 1)

In [22]:
c.close()
conn.close()

# 판다스로 가져오기

In [24]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection('../0907_chinook.db')
c = conn.cursor()
query = '''
SELECT *
FROM albums
'''

df = pd.read_sql(query, conn)
df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

# Postgresql

# 패키지 설치

In [ ]:
!pip install psycopg2-binary sqlalchemy

# PostgreSql 연결 테스트

In [42]:
import psycopg2

db_params = {
    'host' : '< 로컬호스트 혹은 서버 주소 >',
    'database' : 'postgres',
    'user' : 'postgres',
    'password' : 'postgres',
    'port' : '5432'
}

# alter user postgres with password 'postgres'; # postgresql 콘솔에서 패스워드 설정 함. 기본값은 0000, 1234

In [54]:
# 종료까지 완성된 코드를 실행해야 하므로 예외처리 문을 사용한다.
try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor() # cursor 란 쿼리문에 의해서 반환되는 결과값들을 저장하는 메모리 공간
    print('db 연결 성공')

    create_table_query = 'CREATE TABLE IF NOT EXISTS exmple_table (id SERIAL PRIMARY KEY, DATA VARCHAR)'
    insert_data_query = "INSERT INTO exmple_table (data) VALUES ('HI')"
    cursor.execute(create_table_query)
    cursor.execute(insert_data_query)
    conn.commit()

    cursor.execute('select * from exmple_table;')
    print(cursor.fetchall())
    print('테이블 생성 완료!')

except (Exception, psycopg2.Error) as e:
    print(f'db 연결 실패 : {e}')
finally:
    if conn:
        conn.close()
        print('db 연결 종료')

db 연결 성공
[(1, 'HI')]
db 연결 종료

# Postgresql 실습

In [55]:
# 데이터 예시
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jin0choi1216/dataset/main/AAPL.csv')
df.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-01-03,14.621429,14.732143,14.607143,14.686786,12.466090,302220800
1,2012-01-04,14.642857,14.810000,14.617143,14.765714,12.533089,260022000
2,2012-01-05,14.819643,14.948214,14.738214,14.929643,12.672229,271269600

In [66]:
import psycopg2
from sqlalchemy import create_engine

db_params = {
    'host' : '< 로컬호스트 혹은 서버 주소 >',
    'database' : 'sba',
    'user' : 'postgres',
    'password' : 'postgres',
    'port' : '5432'
}

In [73]:
# 데이터 삽입 df.to_sql()
try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()
    engine = create_engine(f'postgresql://<user>:<password>@<host>/<db_name>')
    print('db 연결 성공')

    with engine.connect() as con:
        df.to_sql('aapl', con, if_exists='replace')

    # 'aapl' 테이블 조회
    cursor.execute('select * from aapl;')
    print(cursor.fetchall())

except (Exception, psycopg2.Error) as e:
    print(f'오류 발생 : {e}')
finally:
    if conn:
        conn.close()
        print('db 연결 종료')

db 연결 성공
db 연결 종료

In [74]:
# 데이터 불러오기 df.read_sql()
try:
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()
    engine = create_engine(f'postgresql://<user>:<password>@<host>/<db_name>')
    print('db 연결 성공')

    with engine.connect() as con:
        aapl = pd.read_sql('SELECT * FROM aapl', con)
        

except (Exception, psycopg2.Error) as e:
    print(f'오류 발생 : {e}')
finally:
    if conn:
        conn.close()
        print('db 연결 종료')

db 연결 성공
db 연결 종료

In [75]:
aapl.head()

,index,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2012-01-03,14.621429,14.732143,14.607143,14.686786,12.466090,302220800
1,1,2012-01-04,14.642857,14.810000,14.617143,14.765714,12.533089,260022000
2,2,2012-01-05,14.819643,14.948214,14.738214,14.929643,12.672229,271269600
3,3,2012-01-06,14.991786,15.098214,14.972143,15.085714,12.804703,318292800
4,4,2012-01-09,15.196429,15.276786,15.048214,15.061786,12.784389,394024400